<section class="all-rants">
  {{#each rant in controller}}
    {{#if rant.isEditing}}
        <div class="new-rant">
          <header class="new-rant-header">
            <div class="new-rant-title">
              {{textarea value=rant.title class="new-title"}}
            </div>

            {{#if rant.belongsToUser}}
              <div class="new-rant-buttons">
                <button class="delete-rant fa fa-trash-o" {{action 'deleteRant' rant}}>Delete</button>
                <button class="cancel-rant fa fa-share-square-o" {{action 'cancelRant' rant}}>Cancel</button>
                <button class="save-rant fa fa-save" {{action 'saveRant' rant}}>Save</button>
              </div>
            {{/if}}

          </header>
          <div class="small-user-area">
            <div class="small-user-photo"></div>
            <p>{{rant.body.length}} Characters</p>
            <div class="errors">
            </div>
          </div>
          {{textarea value=rant.body class="new-body"}}
        </div>
    {{else}}
        <div class="a-rant">
          <header class="rant-header">
            {{#link-to 'rant' rant.id}}
              <h3>{{rant.title}}</h3>
            {{/link-to}}

            {{#if rant.belongsToUser}}
              <button class="edit-rant fa fa-pencil-square-o" {{action 'editRant' this}}>Edit</button>
            {{/if}}

          </header>
          <div class="small-user-area">
            <div class="small-user-photo"></div>
          </div>
          <p>{{rant.body}}</p>
        </div>
    {{/if}}
  {{/each}}

</section>
