<!DOCTYPE html>
<html>

  <head>
    <title>Rantly</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Laila:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header class="top-header">
      <a class="brand" href="/">Rantly</a>
      <div class="content">
        {{#link-to 'rants'}}
          Rants
        {{/link-to}}
        {{#link-to 'users'}}
          Users
        {{/link-to}}
      </div>
    </header>

    <section class="content">
      <aside class="rants-navagation">
        <div class="search">
          {{input placeholder="Search" value=term class="search-area" type="search" action="doSearch"}}
        </div>
        <div class="user-area">
          <div class="user-photo"></div>
        </div>

        <form>
          Email:
            {{input value=email}}
          Password:
            {{input value=password type="password"}}
          <button type="submit" {{action 'signIn'}}>Submit</button>
          {{#if errorMessage}}
            <div>{{errorMessage}}</div>
          {{/if}}
        </form>
        <button class="auth" {{action 'signOut'}}>
          Log Out
        </button>
      </aside>

      <header class="bottom-header">
        {{#link-to 'rants.new'}}<button class="new-rant">New Rant</button>{{/link-to}}
      </header>

      <div class="main" id="scroll">
        {{outlet}}
      </div>
    </section>
  </body>

</html>
