<main>
  <form class="register-form">
    {{input class="sign-up" placeholder="First Name" value=fName type=text}}
    {{input class="sign-up" placeholder="Last Name" value=lName}}
    {{input class="sign-up" placeholder="Email" value=userEmail}}<i class="register-field"></i>
    {{input class="sign-up" placeholder="Password" value=userPassword}}<i class="register-field"></i>
    {{input class="sign-up" placeholder="Password Confirmation" value=passwordConfirm}}
    <button class="button register-button" {{action 'register'}}>
      Sign Up
    </button>
  </form>
</main>
